/bin/lib/Temp*.class
/bin/Temp*.class
/Libs/Temp*.groovy
/.settings/
/.classpath
.svn/
/Data Files/
/Checkpoints/
/Drivers/
/Include/
/Keywords/
/Reports/
bin/keyword/
build.gradle
console.properties
/.project